body{
   text-align: center;
     
   font-family: 'Open Sans', sans-serif;
   margin : 0;
   padding: 0;
}
.my-img{
    margin-top: 80px;
}
hr{
    border: none;
    border-top:8px dotted;
    width: 5%;
    margin-top: 100px; 
    margin-bottom: 100px;
    color: #909292;
    
}
div.bg-color{
    background-color:#EAF6F6;
}

div.top-container{
   width: 0 auto;
}

h1{
    color: #66BFBF;
    font-size: 5.625rem;
    margin-top: 40px;
    margin-bottom: 10px;
    font-family: 'Sacramento', cursive;
}

h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}
h3{
    color:  #11999E;
    font-family: 'Montserrat', sans-serif;
}
a{
    color:  #11999E;
}
h2.forntwidth{
    font-weight: normal;
}
p{
    color: #40514E;
}




img.uppercloud{
 position: relative;  
 left: 400px;
 top: 30px;
}

img.bottomcloud{
    position: absolute;
    left:300px;
    top: 350px;

}

img.mountain{
    height: 405px;
   
}

div.skill-row{
    width: 50%;
   margin: 100px auto 100px auto;
   text-align: left;
   line-height: 2;
}
img.first-skill{
    width: 20%;
   float: left;
   padding-right: 30px;
  
}
img.second-skill{
    width: 20%;
    float: right;
    padding-left: 30px;    
}
.float{
    text-align: right;
}
.touch{
margin-bottom: 40px;
}
.get-in{
    margin-bottom: 30px;
}
.btn{
    display: block;
    margin-bottom: 40px;
    margin-top: 60px;
}


.BUTTON {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 20px;
    font-weight: 100;
    padding: 10px 25px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: none;

 }
 
 .BUTTON:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;

 }

.bottom-container{
    background-color:#66BFBF;
   height: 160px;

}
.footer-link{
    display:inline-block;
    margin: 40px 10px 5px 10px;
}
.last{
   margin: bottom 40px;
   color: #EAF6F6;
}

